.homepage__footer--container {
  background-color: $black;

  .homepage__footer--wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;

    p,
    a {
      color: $white;
    }

    .homepage__footer--right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        height: 25px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .homepage__footer--wrapper {
    p {
      width: 100%;
      font-size: 12px;
      margin: 15px 0px;
    }
  }
}
