body {
    margin: 10px;
    min-width: 150px;
}

* {
    text-align: center;
}

h1 {
    font-size: 14px;
}

button {
    border: 2px solid #cf142b;
    background-color: #cf142b;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px 20px;
    font-weight: 600;
}

button:hover {
    background-color: #fff;
    cursor: pointer;
    color: #000;
}

#formLogin input {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px;
    margin-bottom: 5px;
}

#loaderContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}

button:focus, button:visited {
    outline: 1px solid #ccc; 
}